/*==== || GOOGLE FONTS || ====*/
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;600;700&family=Poppins:wght@300;400;500;600;700&display=swap');
/*==== || CUSTOM VARIABLES || ====*/
:root {
    --color-white : #FFF;
    --color-black : #000;
    --color-grey-1 : #8B8A8A;
    --color-grey-2 : #b7b6b6;
    --color-grey-3 : #FDF9F9;
    --color-default: #212529;
    --color-primary: #CE1212;
    --color-primary-transparent: hsla(0, 84%, 44%, 0.1);
    --color-secondary: #37373F;

    --color-bg : #F2F2F2;

    --ff-primary:'Poppins', sans-serif;
    --ff-secodery:'Caveat', cursive;
    --transition-1 : all 400ms ease;
}
/*==== || BASIC RESET || ====*/
*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    color: var(--color-default);
    background-color: var(--color-white);
    font-family: var(--ff-primary);
    font-weight: 400;
}
img {
    display: block;
    width: 100%;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
h1, h2 {
    color: var(--color-default);
    font-family: var(--ff-secodery);
    text-transform: uppercase;
    letter-spacing: 1.5px;
    margin-bottom: 1.25rem;
}
/*==== || GLOBAL STYLE || ====*/
.container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
}
.section-bg {
    background-color: var(--color-bg);
}
.section-pd {
    padding: 5rem 0;
}
.wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}
.section-center {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.box-icon {
    color: var(--color-primary);
    font-size: 1.8rem;
    background-color: var(--color-primary-transparent);
    width: 64px;
    height: 64px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-bottom: 2rem;
}
/*==== || BUTTONS || ====*/
.btn {
    display: inline-block;
    color: var(--color-white);
    background-color: var(--color-primary);
    font-size: 0.875rem;
    font-weight: 400;
    letter-spacing: 1px;
    padding: 0.7em 1.8em;
    border-radius: 2em;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
    transition: var(--transition-1);
}
.btn:hover {
    opacity: 0.8;
}
/*==== || SECTION HEADER || ====*/
.section-header {
    text-align: center;
    margin-bottom: 2.5rem;
}
.sub-title {
    display: block;
    color: var(--color-grey-1);
    font-size: 0.875rem;
    font-weight: 400;
    letter-spacing: 1.1px;
    text-transform: uppercase;
    margin-bottom: 0.6em;
}
.section-title {
    font-size: 2.25rem;
    font-weight: 400;
}
.section-title span {
    color: var(--color-primary);
}
/*==== || NAVBAR || ====*/
.nav {
    position: relative;
    padding: 1.5rem 0;
}
.logo {
    color: var(--color-black);
    font-size: 1.8rem;
    font-weight: 700;
    letter-spacing: 1px;
}
.logo span {
    color: var(--color-primary);
}
.links {
    gap: 2rem;
}
.scroll-link {
    color: var(--color-grey-1);
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 1px;
    position: relative;
    transition: var(--transition-1);
}
.scroll-link::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: var(--color-primary);
    left: 0;
    bottom: -0.3rem;
    transform-origin: left;
    transform: scaleX(0);
    transition: var(--transition-1);
}
.scroll-link:hover {
    color: var(--color-black);
}
.scroll-link:hover::before {
    transform: scaleX(1);
}
.nav-close-btn,
.nav-open-btn {
    color: var(--color-default);
    font-size: 2rem;
    margin-left: 2rem;
    display: none;
}
@media (max-width:992px) {
    .nav-brand {
        flex-grow: 1;
    }
    .nav-close-btn,
    .nav-open-btn {
        display: block;
    }
    .nav-close-btn {
        text-align: right;
        margin: 1.5rem;
    }
    .links-container {
        position: fixed;
        width: 100%;
        max-width: 400px;
        min-height: 100vh;
        background-color: var(--color-white);
        top: 0;
        right: 0;
        transform-origin: right;
        transform: scaleX(0);
        transition: var(--transition-1);
        z-index: 999;
    }
    .show-links {
        transform: scaleX(1);
    }
    .links {
       all: unset;
       list-style: none;
    }
    .links li {
        padding: 0.875rem 1.25rem;
        border-bottom: 2px solid var(--color-grey-3);
    }
    .scroll-link::before {
        display: none;
    }
}
@media (max-width: 548px) {
    .nav-btn {
        display: none;
    }
}
/*==== || HERO || ====*/
.hero-text, 
.hero-img {
    width: 40%;
}
.title {
    font-size: 2.8rem;
    font-weight: 600;
    line-height: 1.5;
}
.hero-desc {
    color: var(--color-grey-1);
    letter-spacing: 0.3px;
    margin-bottom: 1.5rem;
}
.btn-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
}
@media (max-width:992px) {
    .hero .wrapper {
        flex-direction: column;
        gap: 3.25rem;
    }
    .hero-text, 
    .hero-img {
        width: 100%;
        text-align: center;
    }
    .hero-text {
        order: 1;
    }
    .btn-container {
        justify-content: center;
    }
}
/*==== || ABOUT || ====*/
#about .wrapper {
    align-items:normal;
    gap: 50px;
}
.col-left {
    min-width: 60%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2) , rgba(0, 0, 0, 0.2)), url(../images/about.jpg);
    background-size: cover;
    position: relative;
}
.call-us {
    position: absolute;
    width: 70%;
    background-color: var(--color-white);
    padding: 2rem;
    bottom: 5rem;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}
.call-us span {
    display: block;
    color: var(--color-default);
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: 1.1px;
    margin-bottom: 0.2rem;
}
.call-us span:last-child {
    color: var(--color-primary);
    font-size: 2rem;
}
#about ul li {
    margin-bottom: 0.625rem;
    padding-left: 1.25rem;
    position: relative;
}
#about ul li::before{
    font-family: "Font Awesome 5 Free";
    content: "\f058";
    display: inline-block;
    padding-right: 3px;
    font-weight: 900;
    color: var(--color-primary);
    font-size: 1rem;
    position: absolute;
    left: 0;
    top: 3px;
}
@media (max-width:992px) {
    #about .wrapper {
        flex-direction: column;
    }
    .col-left {
        height: 500px;
    }
}
/*==== || WHY US || ====*/
.why-us-wrapper {
    display: flex;
    align-items: flex-start;
    gap: 1.5rem;
}
.box-1 {
    flex: 4;
    color: var(--color-white);
    background-color: var(--color-primary);
    padding: 2rem;
}
.box-2 {
    flex: 8;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.box-1 h3 {
    color: var(--color-white);
    font-size: 2rem;
    line-height: 1.5;
    margin-bottom: 2rem;
}
.why-us .btn-container {
    justify-content: center;
}
.why-us .btn {
    background-color: hsl(0, 55%, 60%);
}
.box-item {
    text-align: center;
    background-color: var(--color-white);
    padding: 2rem;
    transition: var(--transition-1);
}
.box-item h4 {
    color: var(--color-default);
    font-size: 1.4rem;
    font-weight: 400;
    margin-bottom: 1.25rem;
}
.box-item:hover {
    transform: scale(1.025);
}
@media (max-width:992px) {
    .why-us-wrapper {
        flex-direction: column;
    }
    .box-2 {
        width: 100%;
    }
}
/*==== || STATS || ====*/
.stats {
    padding: 8rem 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5) , rgba(0, 0, 0, 0.5)), url(../images/stats-bg.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}
.stat {
    flex-direction: column;
}
.stat span {
    color: var(--color-white);
    font-size: 3.25rem;
    font-weight: 600;
}
h5 {
    color: var(--color-bg);
    font-size: 1.1rem;
    font-weight: 600;
    letter-spacing: 1.1px;
}
@media (max-width:992px) {
    .section-center {
        grid-template-columns: repeat(2, 1fr);
        gap: 50px;
    }
}
@media (max-width:768px) {
    .section-center {
        grid-template-columns: 1fr;
    }
} 
/*==== || MENU || ====*/
.menu-header {
    text-align: center;
    margin-bottom: 2.5rem;
}
.menu-btn-container {
    justify-content: center;
    gap: 1.5rem;
    margin-bottom: 2rem;
}
.menu-btn {
    color: var(--color-default);
    font-size: 1.1rem;
    background-color: transparent;
    border: none;
    outline: none;
    border-bottom: 2px solid var(--color-grey-1);
    padding: 0.5rem;
}
.menu-btn:hover {
    color: var(--color-primary);
    border-color: var(--color-grey-2);
}
.menu-header h3 {
    color: var(--color-primary);
    font-size: 2.5rem;
    font-weight: 600;
}
.menu-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem 2rem;
}
.menu-item {
    text-align: center;
}
.menu-item img {
    width: 70%;
    margin: auto;
    margin-bottom: 20px;
}
.menu-item h5 {
    color:var(--color-default);
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 5px;
}
.menu-item p {
    color: var(--color-grey-2);
    margin-bottom: 0.5rem;
}
.price {
    color:  var(--color-primary);
    font-size: 1.5rem;
    font-weight: 600;
}
@media (max-width:992px) {
    .menu-items {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 3rem 2rem;
    }
}
@media (max-width:768px) {
    .menu-items {
        display: grid;
        grid-template-columns: 1fr;
        gap: 3rem 2rem;
    }
}
/*==== || TESTIMONIALS || ====*/
.slider {
    width: 75%;
    margin: auto;
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
}
.slide {
    min-width: 100%;
}
.item {
    display: flex;
    justify-content: space-between;
    min-width: 100%;
    gap: 1rem;
}
.testimonial-content {
    flex: 6;
    border-left: 2px solid var(--color-primary);
    padding: 0 2rem;
}
.testimonial-img {
    flex: 2;
}
.item p i {
    position: relative;
    color: var(--color-primary);
    font-size: 1.5rem;
}
.item p i:first-child {
    top: -0.5rem;
    margin-right: 0.5rem;
}
.item p i:last-child {
    margin-left: 0.5rem;
    bottom: -0.5rem;
}
.item h4 {
    color: var(--color-grey-1);
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 0.5rem;
}
.item .stars {
    color: gold;
}
.testimonial-img img {
    border: 4px solid var(--color-white);
    border-radius: 50%;
}
@media (max-width:992px) {
    .slider {
        width: 100%;
    }
    .testimonial-img img {
        margin: auto;
        width: 50%;
    } 
    .item {
        gap: 2rem;
        flex-direction: column;
    }
}
@media (max-width:768px) {
    .testimonial-img img {
        width: 80%;
    }
}
@media (max-width:548px) {
    .testimonial-img img {
        width: 100%;
    }
}
/*==== || EVENTS || ====*/
.event-slider {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}
.event-item {
    color: var(--color-white);
    padding: 2rem;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.event-slide:nth-child(1) {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/events-1.jpg) ;  
}
.event-slide:nth-child(2) {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/events-2.jpg) ;
}
.event-slide:nth-child(3) {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/events-3.jpg) ;
}
/*==== || CHEFS || ====*/
.chef-cards {
    gap: 2rem;
}
.chef-card {
    overflow: hidden;
    text-align: center;
    border-radius: 5px;
    background-color: var(--color-white);
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
    transition: var(--transition-1);
}
.chef-img {
    position: relative;
}
.chef-img::after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    background: url(../images/team-shape.svg) no-repeat center bottom;
    background-size: contain;
    z-index: 1;
}
.social {
    color: rgb(100, 100, 100);
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    position: absolute;
    right: -100%;
    top: 30px;
    opacity: 0;
    border-radius: 4px;
    transition: 0.5s;
    background: rgba(255, 255, 255, 0.3);
    z-index: 2;
}
.social  i{
    font-size: 18px;
    color: rgb(100, 100, 100);
    margin-bottom: 5px;
}
.chef-info {
    padding: 10px 15px 20px 15px;
}
.chef-info span {
    display: block;
    font-size: 14px;
    font-weight: 400;
    color: rgba(33, 37, 41, 0.4);
}
.chef-info p {
    color: rgba(33, 37, 41, 0.7);
    font-size: 14px;
    font-style: italic;
    padding-top: 15px;
    line-height: 26px;
    margin-top: 0;
    margin-bottom: 1rem;
}
.chef-card:hover .social {
    right: 5%;
    opacity: 1;
}
.chef-card:hover {
    transform: scale(1.05);
}
